.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color:white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000;
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content:right;
    color: #333;
}

.hamburger {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    z-index: 1001;
}

.sidebar {
    position: fixed;
    top: 60px;
    left: -220px;
    width: 100px;
    height: 100%;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    padding: 2rem 1rem;
    font-size: small;
    transition: left 0.3s ease;
    z-index: 1000;
}

.sidebar.open {
    left:0;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
}

.sidebar-menu li {
    margin: 0.5rem 0;
}

.sidebar-menu li a {
    text-decoration: none;
    color: violet;
    font-weight: 400;
   
}

.sidebar-menu li a:hover {
    color: #007bff;
}

.overlay {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 999;
}


.logo-image {
    height:40px;
}